.App {
  width: 80%;
  max-width: 850px;
  padding: 30px 40px;
  margin: 40px auto 60px auto;
  font-family: 'Iosevka', monospace;
  color: var(--font-color-light);
  background-color: var(--bg-main);
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  border-radius: 8px;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

h1:after {
  content: '';
  display: block;
  margin: 10px 0 0 0;
  border: 1px solid var(--font-color-light);
  border-radius: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.file {
  transition: 0.3s;
  opacity: 1;
  max-height: 20.5px;
}

.clear {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  visibility: hidden;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 3px 6px;
  background-color: var(--bg-darker);
  border: 2px solid transparent;
  border-bottom: 2px solid var(--accent);
  color: var(--font-color-light);
  caret-color: var(--font-color-light);
  border-radius: 4px;
  outline: none;
  display: block;
  margin: 12px 0;
}

input:focus {
  border: 2px solid var(--accent);
}

pre {
  background-color: var(--bg-darker);
  padding: 16px;
  border-radius: 8px;
  overflow: scroll;
}

code:not(pre > code) {
  color: var(--operator);
  background-color: var(--bg-darker);
}

.crumbIndicator {
  display: inline-flex;
  padding: 6px 4px;
  border-radius: 6px;
  align-items: center;
  background-color: var(--bg-darker);
  text-transform: uppercase;
  color: var(--comment);
  transition: 0.3s;
}

.crumbIndicator a {
  display: inherit;
}

.crumbIndicator > span {
  position: relative;
  cursor: pointer;
}

.crumbIndicator > span > div {
  position: absolute;
  top: 1.5em;
  background-color: var(--bg-darker);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 6px;
  padding: 6px;
}

.crumbIndicator li {
  display: inline-block;
}

.crumbIndicator li:hover {
  border-radius: 4px;
  background-color: var(--bg-highlight);
}

.crumbIndicator > span:focus {
  outline: none;
  text-decoration: underline;
}

.drop {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  max-height: 300px;
  overflow: scroll;
}

.drop a {
  text-decoration: none;
}

.drop li {
  transition: 0.3s;
}

.drop li {
  height: 0px;
  padding: 0 4px;
}

span:focus .drop {
  visibility: visible;
  opacity: 1;
}

span:focus .drop li {
  height: 24px;
  padding: 2px 4px;
}

span:focus + svg {
  transform: rotate(90deg);
}

.crumbIndicator svg {
  stroke: var(--comment);
  height: 1.1em;
  margin: 0 8px;
  transition: 0.3s;
}
